html
	head
		script(src='https://code.jquery.com/jquery-3.1.1.min.js')
		script(src='/edit.js')
	body
		form
			input(
				id = "title"
				placeholder="Title"
				type='input'
				value=name
			)
			input(
				id = "director"
				placeholder="Director"
				type='input'
				value=director
			)
			input(
				id = "year"
				placeholder="Year"
				type='input'
				value=year
			)
			input(
				id = "rating"
				placeholder="Rating"
				type='input'
				value=rating
			)
			input(
				id = "poster"
				placeholder="Poster URL"
				type='input'
				value=poster
			)
		
			button(type='submit') Submit

