form
	input(
		placeholder="Title"
		type='input'
		value=title
	)
	input(
		placeholder="Director"
		type='input'
		value=director
	)
	input(
		placeholder="Year"
		type='input'
		value=year
	)
	input(
		placeholder="Rating"
		type='input'
		value=rating
	)
	input(
		placeholder="Poster URL"
		type='input'
		value=poster
	)

	button(type='submit') Submit

