form
	input(
		type='input'
		placeholder=title
	)
	input(
		type='input'
		placeholder=director
	)
	input(
		type='input'
		placeholder=year
	)
	input(
		type='input'
		placeholder=rating
	)
	input(
		type='input'
		placeholder=poster
	)

	button(type='submit') Submit

	.movie= movieData
